<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="apikeys" type="Scraper.Configuration.ApiKeySection, Scraper"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <apikeys configSource="apikeys.config" />
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="includehex" maxdatasize="1024"/>
      <source name="System.Net.Sockets"/>
      <source name="System.Net.HttpListener"/>
      <source name="System.Net.Cache"/>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.HttpListener" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
    </switches>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>